@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/animations" as *;

.additions{
    padding: 0 2rem;
    text-align: center;
    @include tablet{
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-bottom: 2rem;
    }
    &__section{
        margin-bottom: 2rem;
    }
    &__image{
        width: 60%;
        max-width: 300px;
        margin: 0 auto;
    }
    &__title{
        @include title(2rem, 400);
        text-align: center;
        margin-bottom: 1rem;
        @include tablet{
            font-size: 1.5rem;
        }
    }
    &__body{
        @include body(1rem);
        max-width: 450px;
        margin: 0 auto;
        @include tablet{
            max-width: 360px;

        }
    }
}