@use '../../styles/partials/variables' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.service-block{
    &-left{
        display: flex;
        border: 3px solid white;
        margin: 1rem 0;
        padding: 0.5rem 1rem;
    }
    &-right{
        display: flex;
        border: 3px solid white;
        margin: 1rem 0;
        padding: 0.5rem 1rem;
        text-align: right;
    }
    &__image{
        height: 100%;
        max-width: 200px;
        border-radius: 12px;
    }
    &__title{
        font-family: $secondary-font;
        text-transform: uppercase;
        margin: 1rem 1rem 0;
    }
    &__body{
        margin: 0 1rem;
    }
}