@use "./variables" as *;
@use "./fonts" as *;

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin title($size, $weight) {
  font-family: $secondary-font;
  font-size: $size;
  font-weight: $weight;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;
}

@mixin subtitle($size, $weight) {
  font-family: $secondary-font;
  font-size: $size;
  font-weight: $weight;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px black;
  color: black;
}

@mixin body($size) {
  font-family: $primary-font;
  font-size: $size;
  font-weight: 300;
  line-height: 1.75rem;
}

@mixin componentPadding {
  padding: 2rem;
}

@mixin heroBackgroundOne{
  background: url('../../assets/images/stolen-banner.jpg') no-repeat;
  background-size: 100% 300%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes buttonAnimation{
  0% {
    padding: 0.75rem 1.5rem;
  }
  100%{
    padding: 1rem 2rem;
  }
}
@-webkit-keyframes buttonAnimation{
  0% {
    padding: 0.75rem 1.5rem;
  }
  100%{
    padding: 1rem 2rem;
  }
}

@mixin button() {
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 8px;
  &:hover {
    background-color: rgb(255, 198, 209);
    color: white;
    animation: 0.5s ease buttonAnimation forwards;
  }
}