@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.reviews {
  display: flex;
  background: url('../../assets/images/What others are saying - ROTATED.png') no-repeat;
  background-size: 100% 100%;
  @include tablet{
    background: url('../../assets/images/What others are saying - BLANK.png') no-repeat;
    background-size: 100% 100%;
  }
  @include desktop{
    padding: 0 2rem;
  }
  &__header {
    font-family: $bodoni-font;
    font-style: italic;
    font-weight: 700;
    color: $title-color;
    width: 100%;
    font-size: 3rem;
    max-width: 300px;
    letter-spacing: -2px;
    line-height: 2rem;
    @include desktop {
      max-width: 300px;
    }
    &--container{
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  &__section {
    margin: 2rem 0;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    justify-content: center;
    gap: 3.375rem;
    width: 100%;
    @include desktop {
      flex-wrap: nowrap;
    }
  }
}

.review {
  min-height: 290px;
  max-height: 290px;
  min-width: 240px;
  max-width: 240px;
  background-color: white;
  border-radius: 8px;
  padding: 0.75rem 1rem;
  &__comment {
    font-family: #7f6255;
    font-size: 0.75rem;
    font-weight: 400;
    color: #a88879;
    letter-spacing: -0.5px;
    height: 180px;
  }
  &__stars {
    margin-top: 0.5rem;
  }
  &__name {
    @include title(1.25rem, 500);
  }
  &__style {
    @include subtitle(0.6rem, 400);
    letter-spacing: 2px;
  }
}
