@use '../../styles/partials/variables' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/animations' as *;

.contact{
    min-height: calc(100vh - 3.75rem);
    max-width: 1200px;
    margin: 0 auto;
    @include tablet{
        display: flex;
        padding: 10rem 2rem 2rem;
    }
    &__container{
        width: 100%;
        padding: 0 2rem;
        margin-top: 2rem;
        overflow: hidden;
        @include tablet{
            margin-top: 4rem;
        }
    }
    &__title{
        @include title(3rem, 400);
        animation: 1s ease-in 0s fadeIn;
    }
    &__body{
        @include body(1rem);
        margin: 1rem 0;
    }
    &__info{
        @include title(1rem, 400);
        text-shadow: none;
        margin-bottom: 1rem;
    }
}