@use '../../styles/partials/variables' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.contact{
    display: flex;
    align-items: center;
    &__container{
        padding: 4rem;
        width: 100%;
    }
    &__title{
        @include title(3rem, 400);
    }
    &__body{
        @include body(1rem);
    }
    &__info{
        @include title(1rem, 400);
        text-shadow: none;
    }
    &__input{
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
    }
    &__button{
        @include button;
    }
}