@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.header{
    font-family: $primary-font;
    height: 100px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgb(226, 248, 255);

    &__logo{
        height: 100px;
    }
}

.menu{
    display: flex;
    list-style-type: none;
    gap: 1.5rem;
}