@use '../../styles/partials/variables' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.header{
    font-family: $primary-font;
    overflow: hidden;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
    background-color: $color-two;

    &__logo{
        height: 80px;
    }
}

.menu{
    display: flex;
    list-style-type: none;
    gap: 1.5rem;
    font-weight: 500;
    color: white;

    &__item{
        &:hover{
            cursor: pointer;
            color: pink;
        }
    }
}