@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.header {
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  background-color: $color-three;
  &-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
  }

  &__logo {
    height: 80px;

    &:hover {
      cursor: pointer;
    }
  }
}

.menu {
  display: none;
  list-style-type: none;
  gap: 1.5rem;
  font-weight: 500;
  color: white;
  overflow: hidden;
  @include tablet {
    display: flex;
  }
  &-burger {
    width: 40px;
    &:hover {
      cursor: pointer;
      color: white;
    }
    @include tablet {
      display: none;
    }
  }

  &__item {
    @include title(1.25rem, 400);
    &:hover {
      cursor: pointer;
      color: pink;
    }
  }
}

.dropdown-menu {
  @include tablet {
    display: none;
  }
  &__list {
    list-style-type: none;
  }
  &__item {
    background-color: $color-two;
    padding: 1rem 2.5rem;
    border: 1px solid black;
    @include title(1.25rem, 400);

    &:hover {
      background-color: rgb(245, 109, 109);
      cursor: pointer;
      translate: 0px -3px;
      box-shadow: 0 3px 0 rgb(69, 1, 1);
      color: white;
    }
  }
}

.hide-menu {
  display: none;
}

.book-dropdown {
  &__button {
    border: none;
    background-color: $color-three;
    @include title(1.25rem, 400);
    color: white;
    &:hover {
      cursor: pointer;
      color: pink;
    }
  }
  &__menu {
    display: none;
    position: absolute;
    text-align: center;
    min-width: 60px;
    background-color: $color-three;
    // box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    &:hover {
      display: block;
    }
  }
}

.book-dropdown:hover .book-dropdown__menu{
  display: block;
}
