@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.home-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  font-family: $primary-font;
  padding: 3rem 2rem;
  @include tablet {
    margin: 0 auto;
    flex-direction: row;
    max-width: 1200px;
    gap: 2rem;
  }

  &__photo {
    display: block;
    margin: 1rem auto;
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 500px;
    @include tablet {
      max-width: 50%;
      max-height: 550px;
      width: auto;
      height: auto;
    }
  }

  &__div {
    margin-top: 2rem;
    @include tablet {
      width: 100%;
    }
  }

  &__subtitle {
    padding-bottom: 0.75rem;
    font-size: 1rem;
    letter-spacing: 3px;
    font-weight: 500;
  }

  &__title {
    @include title(2rem, 500);
    letter-spacing: 2px;
    padding-bottom: 1rem;
  }

  &__body {
    @include body(1rem);
    padding-bottom: 1rem;
  }

  &__button {
    @include button;
  }
}
