@use '../../styles/partials/variables' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.question-box{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    border-bottom: 1px solid grey;
}

.question{
    padding: 0.75rem 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    &:hover{
        background-color: rgba($color-two, 0.2);
    }

    &__right-arrow{
      width: 25px;
      height: 20px;
      animation: rotateRightArrow 0.5s;
    }

    &__down-arrow{
      width: 18px;
      height: 20px;
      margin: 0 5px;
      animation: rotateDownArrow 0.5s;
    }

    &__text{
      font-family: $secondary-font;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 1rem;
      color: black;
    }
}

@keyframes rotateRightArrow {
  0%{
    transform: rotate(90deg);
  }
}

@keyframes rotateDownArrow {
  0%{
    transform: rotate(-90deg);
  }
}

.answer {
  display: none;

  &__visible {
    display: block;
    min-height: 50px;
    padding: 0.5rem 1.5rem;
    background-color: white;
    overflow: hidden;
  }
  &__text{
    @include body(1rem);
    animation: 0.5s ease-out 0s 1 loadText;
  }
}

@keyframes loadAnswer {
  0%{
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes loadText {
  0%{
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}