@use '../../styles/partials/variables' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.policy{
    background: linear-gradient($color-three 0%, white 40%, white 60%, $color-three 100%);
    text-align: center;
    
    &__title{
        @include title(4rem, 500);
        @include heroBackgroundOne;
    }

    &-list{
        padding: 2rem;
        @include tablet{
            padding: 2rem 4rem;
        }
    }

    &-section{
        &__title{
            @include title(2rem, 400);
            text-shadow: none;
            margin-bottom: 0.5rem;
        }
        &__body{
            @include body(1rem);
            padding-bottom: 1rem;
        }
    }
}