@use '../../styles/partials/variables' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.home {
  background-color: $color-one;
  padding-top: 10rem;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  &__header {
    font-size: 2rem;
    font-weight: 600;
  }

  &__subheader {
    font-weight: 400;
  }
}
