@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

@mixin heroTitle {
  font-family: $bodoni-font;
  font-weight: 500;
  font-style: italic;
  font-size: 3rem;
  letter-spacing: -3px;
  color: white;
  margin-bottom: 3rem;
  text-shadow: 2px 5px 25px rgba(0, 0, 0, 0.775);
  @include tablet {
    font-size: 4.5rem;
    margin-bottom: 4rem;
    line-height: 55px;
  }
}

.home {
  background: white;
  &__seperate {
    height: 1px;
    width: 100%;
  }
}

.hero {
  height: 100%;
  &__container {
    padding: 1rem 2rem;
    background: url("../../assets/images/Website Header - BLANK.png") no-repeat;
    background-size: 100% 400px;
    @include tablet {
      padding: 4rem 4rem;
      background-size: 100% 500px;
    }
    @include desktop {
      padding: 4rem 8rem;
      background-size: 100% 800px;
      background-position: center;
    }
  }
  &__title {
    @include heroTitle;
    &--indent {
      @include heroTitle;
      margin: -4rem 0 2rem 1rem;
      @include tablet{
        margin: -4.75rem 0 4rem 7.5rem;
      }
    }
  }
  &__span {
    font-family: $bodoni-font;
    font-style: italic;
    font-weight: 500;
    color: $title-color;
    @include tablet {
      font-size: 4.5rem;
    }
  }
  &__subtitle {
    font-family: $sloop-font;
    font-weight: 500;
    color: $title-color;
    letter-spacing: 2px;
    font-size: 2rem;
    @include tablet {
      font-size: 2.5rem;
    }
    @include desktop {
      font-size: 3.75rem;
    }
  }
  &__button {
    @include button;
    background-color: black;
    color: white;
    margin-bottom: 2rem;
    text-transform: uppercase;
    @include tablet{
      font-size: 1.25rem;
    }
  //   width: 120px;
  //   height: 40px;
  //   background-color: transparent;
  //   border: 2px solid black;
  //   border-radius: 30px;
  //   @include title(1rem, 500);
  //   color: black;
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  //   padding: 0 0.5rem;
  //   margin-bottom: 4rem;
  //   &:hover {
  //     cursor: pointer;
  //     background-color: #e6e1d2;
  //   }
  //   @include tablet {
  //     width: 170px;
  //     height: 60px;
  //     border-radius: 30px;
  //     @include title(1.375rem, 500);
  //     color: black;
  //     margin-bottom: 4rem;
  //   }

  //   &--image {
  //     height: 20px;
  //     width: 20px;
  //     background-color: black;
  //     border-radius: 50%;
  //     @include tablet {
  //       height: 40px;
  //       width: 40px;
  //     }
  //   }
  // }
  }
}
