@use '../../styles/partials/variables' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/animations' as *;

.questions{
    min-height: 84.75vh;
    padding-bottom: 2rem;
    &__hero{
        @include title(2rem, 400);
        animation: 1s ease-out 0s 1 fadeInStretch;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2rem auto 1rem;
        max-width: 350px;
        text-align: center;
        @include tablet{
            font-size: 3rem;
            max-width: 100%;
            margin: 2rem auto 1rem;
        }
    }
    &-list{
        @include tablet{
            padding: 2rem 0;
        }
    }
}